@font-face {
font-family: "Quaver Sans";
src: url(../fonts/QuaverSans.otf);
}

@font-face {
font-family: "Quaver Serif";
src: url(../fonts/QuaverSerif.otf);
}

body {
	/*background-image:url("../img/light_wool.png");*/
	padding-bottom: 5em;
}

header {
	margin-top: 5em;
	margin-bottom: 3em;
}

h1 {
	font-family: "Quaver Serif";
	font-size: 3.3em;
	font-weight: bold;
}

/*dd {
	background-color: #fdfdfd;
}*/

.tab {
	font-family: "Quaver Serif";
	font-size: 1.5em;
}

input[type="text"], input[type="email"] {
	width: 20em;
}

textarea {
	height: 5em;
	width: 30em;
}

input[type="date"], input[type="tel"], input.accountnumber {
	width: 12em;
}

input.folder {
	width: 30em;
}


label {
	font-size: 1em;
	color: #000;
}

.selectlabel {
	position: relative;
	left: 20px;
	top: -15px;
}

/*.biglabel {
	font-size: 1.2em;
	padding-bottom: 1em;
}*/

/*#isnewimagesselected, #isexistingimagesselected {
	vertical-align: bottom;
	position: relative;
	margin: 0;
	top: -30px;
}*/

.labelspace {
	margin-top: 2em;
}

.bottomspace {
	margin-bottom: 1.5em;
}

legend {
	/*color: #555;*/
	font-size: 1.8em;
	font-family: "Quaver Sans";
	font-weight: 900;
}

.instructions {
	font-size: 1em;
}

.indent {
	margin-left: 1em;
}

fieldset {
	/*background-color: #fdfdfd;
	border: none;*/
	margin-top: 1em;
}

.innerfieldset {
	padding-top: 3em;
}

.noborder {
	border: none;
}


input {
	vertical-align: bottom;
	position: relative;
	margin: 0;
}

p {
	margin-bottom: 0;
}


#newchoices, #txt2dinstructions, #txt3dinstructions, #labelfor_exhibitiondocumentation, #exhibitiondocumentation, #labelfor_datetime_exhibitiondoc, 
#datetime_exhibitiondoc, #labelfor_photographyexhibitions, #photographyexhibitions, #photography_exhibitions_description, #labelfor_photography_exhibitions_details, #photography_exhibitions_details, 
#labelfor_datetime_photographyexhibitions, #datetime_photographyexhibitions, #labelfor_marketing, 
#marketing, #labelfor_datetime_marketing, #datetime_marketing, 
#event, #labelfor_datetime_event, #datetime_event, #labelfor_photoservice_other_textarea, 
#photoservice_other_textarea, #existingchoices, #labelfor_photoservice_collections_textarea,
#photoservice_collections_textarea, #labelfor_service_noncollections_items_details_textarea, #service_noncollections_items_details_textarea, #labelfor_imgquality_other_textarea, #imgquality_other_textarea, #labelfor_use_other_textarea, 
#use_other_textarea, #labelfor_externalclient_name, #externalclient_name, #labelfor_folderlocation, #folderlocation, 
#deliveryemail, #txtburninstructions, #labelfor_delivery_other_textarea, #delivery_other_textarea, #labelfor_event, #restrictions, #largebatches {
	display: none;
}

.has-tip {
	font-weight: normal;
	border-bottom: none;
}

.has-tip:hover, .has-tip:focus {
	border-bottom: none;
	color: #000;
}

.alert-box {
	padding: 0.6rem 0.6rem 0.6rem 0.6rem;
}