/*

BEM (BLOCK ELEMENT MODIFIER ) NOTATION
.block {}
.block__element {} part of block which makes it a whole
.block--modifier {} diferrent version or state of block

.person {}
.person__hand {}
.person--female {}
.person--female__hand {}
.person__hand--left {}

*/

/***************************************************/
/* BASE */
/***************************************************/
/***************************************************/
/* LAYOUT */
/***************************************************/
/***************************************************/
/* MODULES */
/***************************************************/

/* DOCUMENT */
.document__title {
	margin: .75em 0 1.25em 0;
}

/* ALERTS Foundation Override */
.alert-box {
	font-size: 1.25em;
}

.services__option {
	width: 100%;
}

/* TABS Foundation Override */
.tabs dd > a {
	font-size: 1.35em;
	text-transform: uppercase;
}


/* FORM__FIELDS 
.field--account-number {
	width: 15em;
}

.field--checkbox {
	width: 30em;
}

.field--date {
	width: 15em;
}

.field--description {
	height: 5em;
	width: 30em;
	margin-bottom: 1em;
}

.field--email {
	width: 20em;
}

.field--tel {
	width: 15em;
}

.field--text {
	width: 20em;
}

	/* FIELD__LABEL Foundation Override */
	.label {
		font-weight: normal;
		font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
		text-align: left;
		text-decoration: none;
		line-height: 1.5;
		white-space: nowrap;
		display: inline-block;
		position: relative;
		margin-bottom: 0.25rem;
		padding: 0;
		font-size: 1.25rem;
		background-color: #fff;
		color: #222;
	}


/***************************************************/
/* STATES */
/***************************************************/

	/* Field__Message--Error Foundation Override */
	[data-abide] .error small.error, [data-abide] span.error, [data-abide] small.error {
		font-size: 1rem;
	}


.hide {
	display: none;
}

.uppercase {
	text-transform: uppercase;
}
