body {
	margin: 5rem;
	width: auto;
}

/*form {
	width: 80%;
}*/

.textbox {
	display: block;
}

.placeholder
{
  color: #aaa;
}

/*label {
	display: block;
}

h1 {
	font-size: 2.7em;
}

h2 {
	font-size: 2em;
}

label {
	font-size: 1em;
}

em {
	font-style: italic;
}*/